*{
    margin:5px;
    padding:0px;
}

.index{
    width:100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)100%,rgba(0, 0, 0, 0)100%),url(../Image/homepage.jpeg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}


.content{
    width: 1000px;
    margin: 13px;
    height: auto;
    color: rgba(58, 7, 82, 0.986);
    position: relative;
    font-size: 30px;
    /* background-color: rgb(152, 238, 219); */
    background: linear-gradient(to top, rgba(205, 199, 199, 0)50%,rgba(231, 224, 224, 0)50%);
    padding-top: 0px;
}

.par{
    padding-left: 20px;
    padding: 80px;
    font-family: arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    font-size: 20px;
    color: rgb(25, 251, 157);
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-right: 20px;
    color: #62f0f0  ;
    margin-top: 20px;
    letter-spacing: 2px;
    margin-left: 80px;
}

.content span{
    color: rgb(232 160 17);
    font-size: 60px;
}

.back{
    background-color: rgb(28 78 78);
}

